# IDE
.idea/
*.iml
*.ipr
*.iws

# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Android
captures/
outputs/
google-services.json
.obj/
.externalNativeBuild/

# APK / AAB
*.apk
*.ap_
*.aab

# Keystore
*.jks
*.keystore

# Lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# Kotlin
*.kts
